@{title('@(Premium electro)')}
@{sitemap('homepage')}

<!-- CMS -->
@{if repository.page}
	@{!repository.page.body}
@{fi}

<div class="cl"></div>
<hr />
<div class="padding npt">
	<nav class="manufacturers">
	@{foreach m in global.manufacturers}
		<a href="@{sitemap_url('products')}?manufacturer=@{m.linker}"><i class="fa fa-caret-right"></i>@{m.name}</a>
	@{end}
	</nav>
	<br />
	<br />
	<br />
	@{view('eshop/partial-products', model)}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<a href="@{sitemap_url('products')}" class="linkbutton"><span class="fa fa-search"></span> @(Browse all items)</a>
		</div>
	</div>
	<br />
</div>